@use '@block65/react-design-system/tokens.scss' as rds;

:root {
  color-scheme: dark light;
  #{rds.$color-tones-accent-h}: 320deg;
  #{rds.$color-tones-accent-s}: 100%;

  --brand: hsl(
    var(#{rds.$color-tones-accent-h}),
    var(#{rds.$color-tones-accent-s}),
    37%
  );
}

::selection {
  background-color: var(--brand);
  color: white;
}

html {
  height: 100%;
  // forced scrollbar to prevent janky movement when page nav goes from short to long
  overflow-y: scroll;
}

body {
  font-family: Inter, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-feature-settings: 'case' 1, 'kern' 1, 'tnum' 1;
  letter-spacing: -0.022em;
  width: 100vw;
  max-width: 100%;
  height: 100%;
}

.wrapper {
  display: grid;
  grid-template-rows: 1fr auto;
  max-width: 50em;
  width: 100%;
  margin: 0 auto;
  position: relative;
  min-height: 100vh;

  .main {
    grid-area: 1/1;

    .title {
      color: var(--brand);
      font-size: 4rem;
    }

    .card {
      &:nth-child(1) {
        grid-area: 1/1;
      }

      border: 1px solid #eaeaea;
      border-radius: 0.125rem;
      transition: color 0.15s ease, border-color 0.15s ease;
      padding: 0;

      &:hover,
      &:focus,
      &:focus-within,
      &:active {
        color: var(--brand);
        border-color: var(--brand);
      }

      label {
        padding: 1rem 1rem 0;
        display: block;
        color: var(--brand);
      }

      .input {
        width: 100%;
        padding: 0 1rem 0.5em;
        margin: 1rem 0 0;
        font-size: 1.25rem;
        line-height: 1.5;
        border: none;
        outline: none;
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
          DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
        min-height: 3em;
        resize: vertical;

        &::placeholder {
          color: hsl(0deg 0% 50%);
        }

        &.jwt,
        &.signature {
          word-break: break-all;
        }
      }
    }
  }

  .footer {
    grid-area: 2/1;
    padding: 1em;
    text-align: center;
  }
}
