@use '@block65/react-design-system/scss/capsize' as inter with (
  $font-metrics: (
    capHeight: 2048,
    ascent: 2728,
    descent: -680,
    lineGap: 0,
    unitsPerEm: 2816,
  )
);

html {
  &[data-color-scheme='dark'],
  &:not([data-color-scheme]) {
    color-scheme: dark;

    --brand: hsl(320deg, 100%, 40%);
    --bgColor-default: #111;
    --fgColor-default: #fff;
    --fgColor-muted: #aaa;

    --borderColor-default: #bbb;
    --borderColor-muted: #666;
  }

  &[data-color-scheme='light'] {
    color-scheme: light;

    --brand: hsl(320deg, 100%, 40%);
    --bgColor-default: #fff;
    --fgColor-default: #333;
    --fgColor-muted: #777;

    --borderColor-default: #666;
    --borderColor-muted: #ccc;
  }

  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'slnt' 0;
}

:root {
  --text-weight-bold: 700;
  --text-weight-regular: 400;

  --text-letterSpacing-tight: -0.05em;

  --text-lineHeight-regular: initial;
  --text-lineHeight-paragraph: 1.6;
  --text-lineHeight-heading: 1.3;

  // Inter
  @include inter.capsize(5, 62px, 35px);
  @include inter.capsize(3, 20px, 22px);
  @include inter.capsize(1, 16px, 20px);
}
